.about {
  background: $blue;
  padding-top: 105px;
  padding-bottom: 135px;

  @media (max-width: $max-sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.dates {
  position: relative;
  font-size: 72px;
  line-height: 100px;

  @media (max-width: $max-sm) {
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 25px;
    margin-top: 55px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 95px;
    height: 10px;
    background: $white;
    top: -20px;
    left: 0;
  }
}
