.banner {
  margin-bottom: 60px;

  @media (min-width: $min-sm) {
    height: 620px;
    margin-bottom: 130px;
  }
}

.banner_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: all;
  transition-timing-function: ease;

  @media (max-width: $max-sm) {
    padding-top: 300px;
  }
}

.banner_slide--about {
  @media (min-width: $min-sm) {
    height: 570px;
  }

  @media (max-width: $max-sm) {
    padding-top: 320px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }
}

.banner_title {
  width: 100%;
  line-height: 1.3;
  margin-bottom: 20px;

  @media (min-width: $min-sm) {
    max-width: 55%;
    margin-bottom: 30px;
  }
}

.banner_img {
  position: absolute;
  top: 0;
  left: 0;
  filter: contrast(0.65) brightness(1.12);
  height: 275px;
  width: calc(100% - 90px);

  @media (min-width: $min-sm) {
    max-width: 40%;
    width: 100%;
    height: 100%;
    right: 0;
    left: auto;
  }
}

.banner_img--about {
  filter: none;
  right: 15px;

  @media (min-width: $min-md) {
    right: 0;
    max-width: 50%;
  }

  @media (max-width: $max-sm) {
    left: 15px;
  }
}

.banner_text,
.banner_name {
  @media (min-width: $min-sm) {
    max-width: 50%;
  }

  @media (min-width: $min-md) {
    padding-left: 100px;
  }
}

.banner_text--about {
  @media (min-width: $min-sm) {
    padding-left: 0 !important;
    max-width: 400px !important;
  }
}

.banner_button {
  @media (min-width: $min-sm) {
    margin-left: 100px;
  }
}

.banner_text {
  line-height: 1.6;
  padding-bottom: 20px;

  @media (min-width: $min-sm) {
    padding-bottom: 30px;
  }
}

.banner_wrapper {
  height: calc(100% - 50px);
}

.banner_pagination {
  position: absolute;
  right: 0;
  top: 185px;
  z-index: 2;

  @media (min-width: $min-sm) {
    bottom: 50px;
    top: auto;
  }

  .swiper-pagination-bullet {
    position: absolute;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $red;
    color: $white;
    font-weight: bold;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity $basic-transition;

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.banner_scroll {
  position: absolute;
  transition: opacity $basic-transition;
  pointer-events: none;
  bottom: 0;
  left: 0;

  @media (max-width: $max-md) {
    left: 15px;
  }

  &:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 10px;
    background: url(../img/sprites/sprite.svg#arrow-down) no-repeat center;
    background-size: cover;
  }

  .is-scrolled & {
    opacity: 0;
  }
}

.banner_next {
  @media (max-width: $max-sm) {
    position: absolute;
    right: 0;
    bottom: auto;
    top: 185px;
    z-index: 2;
  }
}
