.comm-news {
  position: relative;
  height: 220px;

  @media (min-width: $min-sm) {
    height: 333px;
  }
}

.comm-news_img {
  filter: contrast(0.8) brightness(1.2);
  height: 333px;

  .comm-news:hover & {
    border: 1px solid $red;
  }
}

.comm-news_wrap {
  color: $white;
  background: $red;
  max-width: calc(100% - 90px);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 110px;
  padding: 15px 70px 15px 20px;

  @media (min-width: $min-sm) {
    height: 120px;
    padding: 20px 70px 20px 30px;
  }

  &:hover {
    &:before {
      right: 15px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 13px;
    background: url(../img/sprites/sprite.svg#arrow-white) no-repeat center;
    background-size: cover;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: right $small-transition;
  }
}

.comm-news_t {
  height: 60px;
}
