.form-i {
  border: none;
  color: $black;
  font-size: 14px;
  padding: 0 15px;
  height: 48px;
  width: 100%;
  background: #f0f0f1;

  &::placeholder {
    opacity: 0.5;
  }
}

.form {
  position: relative;
}

.form-i--email {
  background: url(../img/sprites/sprite.svg#email-ic) no-repeat, #f0f0f1;
  background-size: 56px 56px;
  background-position: calc(100% - 5px) center;
}

.form-l {
  color: $black;
  opacity: 0.4;
  font-size: 14px;
  line-height: 20px;
}

.form-search {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  height: 42px;
  padding-left: 32px;
}

.form-button--search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 22px;
  height: 22px;
  border: none;
  background: url(../img/sprites/sprite.svg#search) no-repeat center;
  background-size: cover;
}
