.lib-card {
  width: 100%;
  border: 1px solid $red;
  border-radius: 10px;
  padding: 30px 30px 40px;
  min-height: 250px;
  margin-bottom: 20px;
  transition: background $basic-transition;

  @media (min-width: $min-sm) {
    width: calc(50% - 10px);
  }

  //Don not do it anymore!!! Not correct!
  p {
    transition: filter $basic-transition;
  }

  &:hover {
    background: $red;

    p {
      filter: invert(1);
    }

    &:before {
      filter: grayscale(1) brightness(3);
    }
  }

  &:before {
    content: '';
    width: 52px;
    height: 52px;
    margin-bottom: 25px;
    background-size: cover !important;
    transition: filter $basic-transition;
  }

  &:nth-of-type(2n) {
    @media (min-width: $min-sm) {
      margin-left: 20px;
    }
  }

  &.book:before {
    background: url(../img/sprites/sprite.svg#card-book) no-repeat center;
  }

  &.diagram:before {
    background: url(../img/sprites/sprite.svg#diagram) no-repeat center;
  }
}

.lib-card_t {
  line-height: 24px;
}

.lib-card_d {
  font-size: 14px;
}
