.sidebar-card {
  display: flex !important;
  width: 100%;
  flex-direction: column;
  display: block;
  position: relative;
  min-height: 80px;
  padding-left: 110px;

  @media (min-width: $min-sm) {
    padding-right: 35px;
    padding-left: 120px;
  }
}

.sidebar-card_t {
  transition: color $basic-transition;

  .sidebar-card:hover & {
    color: $red;
  }
}

.sidebar-card_i {
  position: absolute;
  width: 90px;
  height: 80px;
  left: 0;
  top: 0;

  .sidebar-card:hover & {
    border: 1px solid $red;
  }
}

.sidebar-card_d {
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
}
