.swiper-slide-active {
  z-index: 3;
}

.slider-partners {
  overflow: hidden;
}

.slider-partners_i {
  display: block;
  height: 80px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.slider-partners {
  @media (max-width: $max-sm) {
    .swiper-slide {
      width: auto;
    }
  }
}
