.t-container {
  line-height: 1.75;
  width: 100%;
  color: $dark-grey;

  &.white {
    color: $white;
  }

  img {
    max-width: 100%;
    width: auto;
    margin: 20px 0;
  }

  strong {
    font-weight: bold;
  }

  p {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.t-container--about {
  max-width: 520px;

  p:last-child {
    margin-bottom: 0;
  }
}
