.wide-news {
  position: relative;
  min-height: 92px;
  padding-left: 102px;

  @media (max-width: $max-sm) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  @media (min-width: $min-sm) {
    border-right: 5px solid #144a8e;
    padding-left: 330px;
    min-height: 195px;
    padding-right: 75px;
  }

  @media (min-width: $min-md) {
    padding-right: 200px;
  }
}

.wide-news--search {
  @media (min-width: $min-sm) {
    border: none !important;
    padding-right: 0 !important;
    max-width: 640px;
    padding-left: 220px !important;
    min-height: 125px !important;
  }

  @media (max-width: $max-sm) {
    flex-direction: column;
    justify-content: flex-start;

    img {
      width: 92px;
      height: 92px;
    }

    .title--h2 {
      font-size: 18px;
      text-transform: none;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .wide-news_d {
      margin: 0;
    }
  }
}

.wide-news_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 310px;
  height: 195px;

  .wide-news:hover & {
    border: 1px solid $red;
  }

  @media (max-width: $max-sm) {
    width: 92px;
    height: 92px;
  }
}

.wide-news_img--small {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 125px;
}

.wide-news_t {
  overflow: hidden;
  transition: color $basic-transition;

  .wide-news:hover & {
    color: $red;
  }

  @media (max-width: $max-sm) {
    font-size: 18px;
    text-transform: none;
    margin-bottom: 10px;
    margin-top: 0;
  }

  @media (min-width: $min-sm) {
    height: 28px;
  }
}

.wide-news_txt {
  height: 39px;
  overflow: hidden;
}
