<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    <main
      class="d-flex d-flex--align-center d-flex--column d-flex--space-center h-100 page-404"
    >
      <img
        class="max-640 mob-max-250 mb-40"
        src="./img/sprites/sprite.svg#404"
      />
      <p class="title--h2 mb-40 white f--comforta">
        Такої сторінки не знайдено
      </p>
      <a href="/" class="button button--red button--link">На головну</a>
    </main>
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
