<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main>
      <div
        class="container banner_slide position-relative mb-sm-100 banner_slide--about w-100"
      >
        <p class="banner_title title--h1 title--extra uppercase blue">
          Про Інститут
        </p>
        <p class="banner_text banner_text--about text">
          Iнститут громадянського суспільства засновано в лютому 1997 року, як
          громадську організацію.
        </p>
        <img
          src="./img/about.png"
          alt=""
          class="banner_img banner_img--about img"
        />

        <div class="banner_scroll f--comforta">Скролити вниз</div>
      </div>

      <div class="about white">
        <div class="container">
          <div class="max-855 ml-auto mr-auto w-100 js-visible">
            <h3 class="title--h2 title--bold mb-40 uppercase">
              Місія Інституту:
            </h3>
            <div class="t-container t-container--about white">
              <p>
                Сприяння становленню та розвитку громадянського суспільства в
                Україні через залучення громадськості до прийняття рішень
                органами державної влади та місцевого самоврядування, правова
                просвіта громадян та удосконалення законодавства у сфері
                некомерційного права та місцевого самоврядування.
              </p>
              <p>
                За період діяльності Інститутом у визначених сферах проведено
                десятки досліджень.
              </p>
            </div>
            <div class="d-flex pt-sm-100 js-visible">
              <p class="dates title--extra mr-auto mt-auto">2008 <br />2014</p>
              <div class="t-container t-container--about white">
                <p>
                  В цілому впродовж 2008-2014 рр. Інститутом опрацьовано більше
                  трьохсот проектів НПА, підготовлено більше ста аналітичних
                  матеріалів.
                </p>
                <p>
                  Підготовлені експертами ІГС матеріали надходять до народних
                  депутатів України у вигляді Вісників, розміщуються на
                  веб-сайті ІГС та розсилаються електронною поштою.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h3
          class="title--h2 title--bold blue uppercase mb-sm-45 mt-sm-65 mb-30 mt-50 w-100 max-855 lh-1-28 js-visible"
        >
          Інститут за період своєї діяльності успішно співпрацює з низкою
          інституцій:
        </h3>
        <div class="w-100 position-relative mb-sm-70 mb-50 js-visible">
          //= components/history-slider.html
        </div>

        <h3
          class="title--bold title--h2 uppercase blue mb-sm-45 pt-sm-100 mb-30 w-100 js-visible"
        >
          Партнери Інституту
        </h3>
        <div class="w-100 position-relative js-visible">
          //= components/partners-slider.html
        </div>

        <h3
          class="title--bold title--h2 uppercase blue mb-sm-45 pt-sm-100 mt-sm-0 mt-50 mb-30 w-100 js-visible"
        >
          Правління ІГС:
        </h3>
        <div class="d-flex w-100 d-flex--space-between js-visible">
          <img
            src="./img/goverment.png"
            alt="Правління картинка"
            class="w-100 h-340 h-sm-auto img w-sm-45"
          />
          <div
            class="d-flex d-flex--column d-flex--space-center w-100 w-sm-45 mt-sm-0 mt-20"
          >
            <p class="title--h3 title--bold black mb-10 lh-1-28">
              Ткачук Анатолій Федорович
            </p>
            <p class="mb-20 lh-1-28">
              Юрист, народний депутат України 1-го скликання;
            </p>
            <p class="title--h3 title--bold black mb-10 lh-1-28">
              Піскун Олександр Ілліч
            </p>
            <p class="mb-20 lh-1-28">
              Заступник Голови, юрист, кандидат історичних наук, народний
              депутат України 1-го скликання;
            </p>
            <p class="title--h3 title--bold black mb-10 lh-1-28">
              Нечипоренко Олександр Лаврович
            </p>
            <p class="mb-20 lh-1-28">
              Заслужений юрист України, народний депутат України 1-го скликання,
              член Вищої Ради Юстиції України;
            </p>
            <p class="title--h3 title--bold black mb-10 lh-1-28">
              Вовк Віктор Іванович
            </p>
            <p class="mb-20 lh-1-28">
              Кандидат фізико-математичних наук, президент ІВЦ „Інтелсфера”;
            </p>
            <p class="title--h3 title--bold black mb-10 lh-1-28">
              Лапін Євген Васильович
            </p>
            <p class="mb-20 lh-1-28">
              Президент Лабораторії соціального аналізу Ф-4.
            </p>
          </div>
        </div>

        <h3
          class="title--bold title--h2 uppercase blue mb-sm-45 pt-sm-100 mt-sm-0 mt-50 mb-30 w-100 js-visible"
        >
          Річні звіти:
        </h3>
        <div class="js-slider-reports report-slider js-visible">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide black report">
              Публічний звіт ГО «ІГС» (2017 р.)
            </a>
            <a href="#" class="swiper-slide black report">
              Публічний звіт ГО «ІГС» (2016 р.)
            </a>
            <a href="#" class="swiper-slide black report">
              Публічний звіт ГО «ІГС» (2014 – 2016 рр.)
            </a>
            <a href="#" class="swiper-slide black report">
              Публічний фінансовий звіт ГО «ІГС» (2016 р.)
            </a>
            <a href="#" class="swiper-slide black report">
              Публічний фінансовий звіт ГО «ІГС» (2017 р.)
            </a>
          </div>
        </div>

        <h3
          class="title--bold title--h2 uppercase blue mb-sm-45 pt-sm-100 mt-sm-0 mt-50 mb-30 w-100 max-420 lh-1-28 js-visible"
        >
          Працівники інституту та експерти Інституту:
        </h3>
        <div class="d-flex js-visible">
          <div class="worker w-100 mb-30 position-relative">
            <img
              src="./img/worker.png"
              alt="Имя работника!"
              class="img worker_i"
            />
            <p class="worker_t title--h2 mb-10 w-100">Роман Ткачук</p>
            <p class="worker_p w-100 mb-20">Голова ГО "ІГС"</p>
            <div class="d-flex w-100">
              <a href="#" class="worker_m"></a>
              <a href="#" class="worker_face"></a>
            </div>
          </div>
          <div class="worker w-100 mb-30 position-relative">
            <img
              src="./img/worker.png"
              alt="Имя работника!"
              class="img worker_i"
            />
            <p class="worker_t title--h2 mb-10 w-100">Роман Ткачук</p>
            <p class="worker_p w-100 mb-20">Голова ГО "ІГС"</p>
            <div class="d-flex w-100">
              <a href="#" class="worker_m"></a>
              <a href="#" class="worker_face"></a>
            </div>
          </div>
          <div class="worker w-100 mb-30 position-relative">
            <img
              src="./img/worker.png"
              alt="Имя работника!"
              class="img worker_i"
            />
            <p class="worker_t title--h2 mb-10 w-100">Роман Ткачук</p>
            <p class="worker_p w-100 mb-20">Голова ГО "ІГС"</p>
            <div class="d-flex w-100">
              <a href="#" class="worker_m"></a>
              <a href="#" class="worker_face"></a>
            </div>
          </div>
          <div class="worker w-100 mb-30 position-relative">
            <img
              src="./img/worker.png"
              alt="Имя работника!"
              class="img worker_i"
            />
            <p class="worker_t title--h2 mb-10 w-100">Марія Пелипенко</p>
            <p class="worker_p w-100 mb-20">Адміністративний менеджер</p>
            <div class="d-flex w-100">
              <a href="#" class="worker_m"></a>
              <a href="#" class="worker_face"></a>
            </div>
          </div>
        </div>
      </div>
    </main>
    //= includes/footer.html
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
