<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>CariesMonsters</title>
  //= includes/head.html
</head>
<body>
<main>
  <section class="section section--hero position-relative">
    <div class="container">
      <img src="./img/sprites/sprite.svg#blue-shape" alt="" class="hero-img">
      <div class="hero-block">
        <h1 class="ttl-1 text--white main-title mb-30">Caries Monster Fighters - гра з технологією доповненої
          реальності.</h1>
        <p class="text main-subtitle mb-30">Перемагайте каріозних монстрів з малюком без стресу та страху!</p>
        <a href="#" class="button">Замовити гру</a>
      </div>
      <a href="#" class="button-video">
        <img src="./img/sprites/sprite.svg#play-button" alt="" class="button-video__img">
      </a>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="card-square">
        <img src="./img/monsters.png" alt="" class="card-square__img">
      </div>
    </div>
  </section>

</main>
//= includes/footer.html
<!-- -->
//= includes/scripts.html
</body>
</html>
