<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    <link rel="stylesheet" href="/src/styles/pages/contacts.scss" />
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main class="container d-flex mt-30 mt-sm-0 pt-sm-155">
      <h2
        class="title--h1 title--extra uppercase mt-30 mt-sm-0 mb-30 mb-sm-45 w-100 blue"
      >
        Контакти
      </h2>
      <div class="w-100 w-sm-55 mb-sm-0 mb-30">
        <iframe
          class="h-300 h-md-400 w-100"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.359923654291!2d30.53958741573012!3d50.41576537947063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6a597fb77f%3A0xf2c0075e84b6d6cc!2z0LHRg9C7LiDQlNGA0YPQttCx0Ysg0J3QsNGA0L7QtNC-0LIsIDIyLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1581711489656!5m2!1sru!2sua"
        ></iframe>
      </div>
      <div class="w-sm-30 ml-sm-6p">
        <p class="title--h3 title--bold blue mb-20 mb-sm-30">Адреса</p>
        <p class="text-small f--comforta lh-24px mb-30">
          Україна, м. Київ, 01103 бул. Дружби народів, 22, кім.21
        </p>
        <p class="title--h3 title--bold blue mb-20 mb-sm-30">Телефон</p>
        <p class="text-small f--comforta lh-24px mb-30">
          Тел: +38 (044) 529-73-94
        </p>
        <p class="title--h3 title--bold blue mb-20 mb-sm-30">Email</p>
        <p class="text-small f--comforta lh-24px mb-30">
          powerreform@gmail.com
        </p>
        <p class="title--h3 title--bold blue mb-20 mb-sm-30">
          Соцiальнi мережi
        </p>
        <div class="share d-flex w-100 d-flex--align-center">
          <a href="#" class="share_i face--c"></a>
          <a href="#" class="share_i ml-15 twitter--c"></a>
        </div>
      </div>
    </main>
    //= includes/footer.html
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
