<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main class="container d-flex pt-90 pt-sm-155">
      <h1 class="title--extra title--h1 uppercase blue mb-sm-45 mb-30 w-100">
        Бібліотека
      </h1>
      <div
        class="sidebar sidebar--thin mr-md-10 mb-sm-0 mb-10 d-sm-block d-flex d-flex--space-between"
      >
        <a href="" class="button button--red w-mob-50p button--link mb-15"
          >Видання</a
        >
        <a
          href=""
          class="button buton--transparent-bordered w-mob-50p button--link"
          >Iнфографiка</a
        >
      </div>

      <div class="content d-flex d-flex--align-start mb-auto">
        <a href="#" class="lib-card d-flex book d-flex--column">
          <p class="lib-card_t uppercase black mb-15">Децентралізація</p>
          <p class="lib-card_d mt-auto black">08.05.2018</p>
        </a>
        <a href="#" class="lib-card d-flex diagram d-flex--column">
          <p class="lib-card_t uppercase black mb-15">
            Методичні рекомендації. ЯК РОЗПОЧАТИ ДРУЖБУ МІЖ
          </p>
          <p class="lib-card_d mt-auto black">08.05.2018</p>
        </a>
        <a href="#" class="lib-card d-flex d-flex--column">
          <p class="lib-card_t uppercase black mb-15">
            Методичні рекомендації.
          </p>
          <p class="lib-card_d mt-auto black">08.05.2018</p>
        </a>
        <a href="#" class="lib-card d-flex d-flex--column">
          <p class="lib-card_t uppercase black mb-15">
            Карти України за різними показниками
          </p>
          <p class="lib-card_d mt-auto black">08.05.2018</p>
        </a>
        <a href="#" class="lib-card d-flex d-flex--column">
          <p class="lib-card_t uppercase black mb-15">
            Методичні рекомендації.
          </p>
          <p class="lib-card_d mt-auto black">08.05.2018</p>
        </a>
        <a href="#" class="lib-card d-flex d-flex--column">
          <img
            src="./img/svg/sprite.svg#diagram"
            alt=""
            class="lib-card_i img mb-25"
          />
          <p class="lib-card_t uppercase black mb-15">
            Карти України за різними показниками
          </p>
          <p class="lib-card_d mt-auto black">08.05.2018</p>
        </a>
        <div class="pagination mt-20">
          <a
            href="#"
            aria-disabled="true"
            class="button--arrow button--link prev"
          ></a>
          <a
            href="#"
            class="pagination_b d-flex d-flex--space-center d-flex--align-center active"
            >1</a
          >
          <a
            href="#"
            class="pagination_b d-flex d-flex--space-center d-flex--align-center"
            >2</a
          >
          <a
            href="#"
            class="pagination_b pagination_d d-flex d-flex--space-center d-flex--align-center"
            >...</a
          >
          <a
            href="#"
            class="pagination_b d-flex d-flex--space-center d-flex--align-center"
            >22</a
          >
          <a href="#" class="button--arrow button--link next"></a>
        </div>
      </div>
    </main>
    //= includes/footer.html
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
