<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main class="container d-flex pt-90 pt-sm-155">
      
        <h1 class="title--extra title--h1 uppercase blue mb-sm-45 mb-30">
          Новини
        </h1>
        <div class="js-slider-news swiper-container mb-sm-0 mb-40">
          <div class="swiper-wrapper">
            <a href="/single-news.html" class="swiper-slide comm-news">
              <img src="./img/com-news.png" alt="common news img" class="comm-news_img img w-100">
              <div class="comm-news_wrap">
                <p class="comm-news_d title--h3">18.01.20</p>
                <p class="comm-news_t lh-1-28 title--h2 title--bold uppercase">Пакет Реформ та місцеві коаліції</p>
              </div>
            </a>
            <a href="/single-news.html" class="swiper-slide comm-news">
              <img src="./img/com-news.png" alt="common news img" class="comm-news_img img w-100">
              <div class="comm-news_wrap">
                <p class="comm-news_d title--h3">18.01.20</p>
                <p class="comm-news_t lh-1-28 title--h2 title--bold uppercase">Пакет Реформ та місцеві коаліції</p>
              </div>
            </a>
            <a href="/single-news.html" class="swiper-slide comm-news">
              <img src="./img/com-news.png" alt="common news img" class="comm-news_img img w-100">
              <div class="comm-news_wrap">
                <p class="comm-news_d title--h3">18.01.20</p>
                <p class="comm-news_t lh-1-28 title--h2 title--bold uppercase">Пакет Реформ та місцеві коаліції</p>
              </div>
            </a>
            <a href="/single-news.html" class="swiper-slide comm-news">
              <img src="./img/com-news.png" alt="common news img" class="comm-news_img img w-100">
              <div class="comm-news_wrap">
                <p class="comm-news_d title--h3">18.01.20</p>
                <p class="comm-news_t lh-1-28 title--h2 title--bold uppercase">Пакет Реформ та місцеві коаліції</p>
              </div>
            </a>
          </div>
        </div>
        <div class="d-flex pt-sm-100">
          <a href="/single-news.html" class="wide-news w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img img">
            <p class="wide-news_d text">23.08.19</p>
            <p class="wide-news_t title--h2 lh-1-28 mb-20 mt-20 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_txt text-small mb-20 lh-1-28 mob-hidden">Кажуть, що незамінних людей не буває. Воно то так, але життєвий досвід показує, що є люди, без яких просто не обійтися.</p>
            <button class="button--arrow button--arrow-red mob-hidden"></button>
          </a>
          <a href="/single-news.html" class="wide-news w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img img">
            <p class="wide-news_d text">23.08.19</p>
            <p class="wide-news_t title--h2 lh-1-28 mb-20 mt-20 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_txt text-small mb-20 lh-1-28 mob-hidden">Кажуть, що незамінних людей не буває. Воно то так, але життєвий досвід показує, що є люди, без яких просто не обійтися.</p>
            <button class="button--arrow button--arrow-red mob-hidden"></button>
          </a>
          <a href="/single-news.html" class="wide-news w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img img">
            <p class="wide-news_d text">23.08.19</p>
            <p class="wide-news_t title--h2 lh-1-28 mb-20 mt-20 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_txt text-small mb-20 lh-1-28 mob-hidden">Кажуть, що незамінних людей не буває. Воно то так, але життєвий досвід показує, що є люди, без яких просто не обійтися.</p>
            <button class="button--arrow button--arrow-red mob-hidden"></button>
          </a>
          <a href="/single-news.html" class="wide-news w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img img">
            <p class="wide-news_d text">23.08.19</p>
            <p class="wide-news_t title--h2 lh-1-28 mb-20 mt-20 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_txt text-small mb-20 lh-1-28 mob-hidden">Кажуть, що незамінних людей не буває. Воно то так, але життєвий досвід показує, що є люди, без яких просто не обійтися.</p>
            <button class="button--arrow button--arrow-red mob-hidden"></button>
          </a>
        </div>
        <div class="pagination mt-20">
          <a href="#" aria-disabled="true" class="button--arrow button--link prev"></a>
          <a href="#" class="pagination_b d-flex d-flex--space-center d-flex--align-center">1</a>
          <a href="#" class="pagination_b d-flex d-flex--space-center d-flex--align-center">2</a>
          <a href="#" class="pagination_b pagination_d d-flex d-flex--space-center d-flex--align-center">...</a>
          <a href="#" class="pagination_b d-flex d-flex--space-center d-flex--align-center">22</a>
          <a href="#" class="button--arrow button--link next" mob-hidden></a>
        </div>
      </div>
    </main>
    //= includes/footer.html
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
