<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main class="container d-flex pt-90 pt-sm-155">
      
        <h1 class="title--extra title--h1 uppercase blue mb-sm-45 mb-30 w-100">
          Пошук
        </h1>
        <form action="" class="form w-100 mb-40">
          <input type="text" class="form-search w-100" placeholder="Введіть пошукове слово">
          <button class="form-button--search"></button>
        </form>
        <p class="title--h3 title--extra mb-30">Знайдено <u>325</u> записів</p>
        <div class="d-flex d-flex--column">
          <a href="/single-news.html" class="wide-news wide-news--search w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img--small img">
            <p class="title--h2 lh-1-28 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_d text mb-20 mt-20">23.08.19</p>
          </a>
          <a href="/single-news.html" class="wide-news wide-news--search w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img--small img">
            <p class="title--h2 lh-1-28 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_d mb-20 mt-20 text">23.08.19</p>
          </a>
          <a href="/single-news.html" class="wide-news wide-news--search w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img--small img">
            <p class="title--h2 lh-1-28 title--bold uppercase">Проект «Децентралізація в Україні: від моніторингу до реагування»</p>
            <p class="wide-news_d mb-20 mt-20 text">23.08.19</p>
          </a>
          <a href="/single-news.html" class="wide-news wide-news--search w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img--small img">
            <p class="title--h2 lh-1-28 title--bold uppercase">Про результати та виклики децентралізації в Україні</p>
            <p class="wide-news_d mb-20 mt-20 text">23.08.19</p>
          </a>
          <a href="/single-news.html" class="wide-news wide-news--search w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img--small img">
            <p class="title--h2 lh-1-28 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_d mb-20 mt-20 text">23.08.19</p>
          </a>
          <a href="/single-news.html" class="wide-news wide-news--search w-100 mb-20 nav-color">
            <img src="./img/news.png" alt="single news img" class="wide-news_img--small img">
            <p class="title--h2 lh-1-28 title--bold uppercase">Людський фактор в партнерстві</p>
            <p class="wide-news_d mb-20 mt-20 text">23.08.19</p>
          </a>
        </div>
        <div class="pagination mt-20">
          <a href="#" class="button--arrow button--link prev"></a>
          <a href="#" class="pagination_b d-flex d-flex--space-center d-flex--align-center">1</a>
          <a href="#" class="pagination_b d-flex d-flex--space-center d-flex--align-center">2</a>
          <a href="#" class="pagination_b pagination_d d-flex d-flex--space-center d-flex--align-center">...</a>
          <a href="#" class="pagination_b d-flex d-flex--space-center d-flex--align-center">22</a>
          <a href="#" class="button--arrow button--link next"></a>
        </div>
      </div>
    </main>
    //= includes/footer.html
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
