<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main class="container pt-sm-100">
      <a href="/" class="button--arrow prev button--link"></a>
      <h1
        class="title--h1 title--bold uppercase blue w-30 mt-30 mb-30 lh-1-28 img"
      >
        До питання про реформу адміністративно-територіального устрою та
        конституційне регулювання
      </h1>
      <div class="descr d-flex mb-30">
        <p class="descr_p blue">Дата: 22.07.2019</p>
      </div>
      <img
        src="./img/project.png"
        class="proj-img w-100 h-md-400 mb-30"
        alt=""
      />

      <div class="t-container max-640 mr-auto ml-auto js-visible">
        <p>
          Деякі політики протягом тривалого часу стверджували і стверджують, що
          реформа місцевого самоврядування та територіальної організації влади,
          яка здійснюється відповідно до Концепції реформи №333-р від 01.04.2014
          року, не відповідає Конституції України, об’єднані територіальні
          громади незаконні, зміни адміністративно-територіального устрою без
          змін Конституції України провести не можливо.
        </p>

        <p>
          Насправді <strong>це не відповідає дійсності з таких підстав:</strong>
        </p>

        <p>
          <strong
            >Конституція України у досить загальному вигляді, як це і притаманно
            конституційному регулюванню, регулює питання адміністративного
            устрою.</strong
          >
        </p>

        <p>
          1.1. Єдина стаття, що встановлює деякі прямі норми щодо АТУ, є стаття
          133. Проте ця стаття не може застосовуватись поза статтями 85, 92,
          140, 142 та 143, про що сказано у декількох рішеннях Конституційного
          Суду України.
        </p>

        <p>
          <strong
            >«Стаття 133. Систему адміністративно-територіального устрою України
            складають: Автономна Республіка Крим, області, райони, міста, райони
            в містах, селища і села.</strong
          >
        </p>

        <p>
          {Офіційне тлумачення частини першої статті 133 див. в Рішенні
          Конституційного Суду № 11-рп/2001 від 13.07.2001}
        </p>
        <img src="./img/ded.png" alt="news img" />
        <p>
          Деякі політики протягом тривалого часу стверджували і стверджують, що
          реформа місцевого самоврядування та територіальної організації влади,
          яка здійснюється відповідно до Концепції реформи №333-р від 01.04.2014
          року, не відповідає Конституції України, об’єднані територіальні
          громади незаконні, зміни адміністративно-територіального устрою без
          змін Конституції України провести не можливо.
        </p>

        <p>
          Насправді <strong>це не відповідає дійсності з таких підстав:</strong>
        </p>

        <p>
          <strong
            >Конституція України у досить загальному вигляді, як це і притаманно
            конституційному регулюванню, регулює питання адміністративного
            устрою.</strong
          >
        </p>

        <p>
          1.1. Єдина стаття, що встановлює деякі прямі норми щодо АТУ, є стаття
          133. Проте ця стаття не може застосовуватись поза статтями 85, 92,
          140, 142 та 143, про що сказано у декількох рішеннях Конституційного
          Суду України.
        </p>

        <p>
          <strong
            >«Стаття 133. Систему адміністративно-територіального устрою України
            складають: Автономна Республіка Крим, області, райони, міста, райони
            в містах, селища і села.</strong
          >
        </p>

        <p>
          {Офіційне тлумачення частини першої статті 133 див. в Рішенні
          Конституційного Суду № 11-рп/2001 від 13.07.2001}
        </p>
      </div>
      <div
        class="share d-flex w-100 d-flex--align-center w-100 mt-30 mb-30 mb-sm-0 mt-sm-0 max-640 mr-auto ml-auto js-visible"
      >
        <p class="title--bold mr-10">Поділитися</p>
        <a href="#" class="share_i face"></a>
        <a href="#" class="share_i twitter"></a>
        <a href="#" class="share_i print"></a>
        <a href="#" class="share_i lnk"></a>
      </div>
      <p
        class="title--bold title--h2 uppercase blue mt-sm-45 mb-sm-45 mb-30 w-100 max-640 mr-auto ml-auto js-visible"
      >
        Схожі НОВИНИ
      </p>
      <div class="d-flex w-100 max-640 mr-auto ml-auto js-visible">
        <a href="#" class="card">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>

        <a href="#" class="card">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>
      </div>
    </main>
    //= includes/footer.html
    <!--  -->
    //= includes/scripts.html
  </body>
</html>
