.f-sidebar {
  display: none;
  position: fixed;
  height: 400px;
  z-index: 4;
  left: 70px;
  bottom: 50px;
  mix-blend-mode: color-burn;

  @media (min-width: $min-lg) {
    display: block;
  }

  @media (min-height: 920px) {
    bottom: 50%;
    transform: translateY(100%);
  }
}

.f-sidebar_t {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  left: 0;
  bottom: 230px;
  pointer-events: none;
}

.f-sidebar_links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 0;
  bottom: 100px;
  height: 70px;
  width: 16px;

  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 1px;
    background: $nav-color;
  }
}

.f-sidebar_links-i {
  &.twitter {
    width: 15px;
    height: 11px;
    background: url(../img/sprites/sprite.svg#twitter-blue) no-repeat center;
    background-size: cover;
  }

  &.facebook {
    width: 8px;
    height: 16px;
    background: url(../img/sprites/sprite.svg#facebook-blue) no-repeat center;
    background-size: cover;
  }
}
