<footer class="footer container">
  <div class="d-flex">
    <div class="w-sm-30 d-flex d-flex--column d-flex--align-start mob-hidden">
      <p class="title--h3 title--bold mb-25">Меню</p>
      <a href="#" class="footer_link mb-10 black">Регіональний розвиток</a>
      <a href="#" class="footer_link mb-10 black">Децентралізація</a>
      <a href="/activity.html" class="footer_link mb-10 black"
        >Нормотворча діяльність</a
      >
      <a href="/library.html" class="footer_link mb-10 black">Бібліотека</a>
      <a href="#" class="footer_link mb-10 black">Відеоблог</a>
      <a href="#" class="footer_link mb-10 black">Запитання-відповіді</a>
    </div>

    <!-- Если открыта страница контактов, то добавлять блоку снизу класс mob-hidden -->
    <div class="w-sm-30 d-flex d-flex--column mb-sm-0 mb-10">
      <p class="title--h3 title--bold mb-25">Контакти</p>
      <div class="footer_addr">
        <p>Україна, м. Київ, 01103 бул. Дружби народів, 22, кім.21</p>
        <p>Тел: +38(044) 529-73-94</p>
      </div>
    </div>
    <div class="w-sm-30 ml-auto">
      <p class="title--h3 title--bold mb-30 mb-sm-25">Підписатися</p>
      <form action="" class="form">
        <input
          type="text"
          class="form-i form-i--email mb-10"
          placeholder="Введіть ваш email "
        />
        <label class="form-l w-100"
          >Приєднуйтесь до нашої розсилки, щоб бути в курсі особливостей та
          випусків</label
        >
      </form>
    </div>
  </div>
  <div class="delimiter mt-30 mb-20 mt-sm-45 mb-sm-45"></div>
  <div class="d-flex d-flex--space-between">
    <div class="priv mb-sm-0 mb-20 lh-1-28">
      © 2009-2015 Інститут громадянського суспільства.
    </div>
    <div class="d-flex d-flex--nowrap w-sm-auto w-100">
      <a href="#" class="priv-link">Privacy Policy</a>
      <a href="#" class="priv-link">Terms of Service</a>
      <div class="share d-flex w-auto ml-15 d-flex--align-center">
        <a href="#" class="share_i face--c ml-15"></a>
        <a href="#" class="share_i ml-15 twitter--c"></a>
      </div>
    </div>
  </div>
</footer>
