<!-- prettier-ignore -->
<style>.p{display:flex;align-items:center;justify-content:center;position:fixed;left:0;right:0;top:0;bottom:0;background:#fff;z-index:100;opacity:1;transition:opacity .35s ease}.p.is-loaded{opacity:0;pointer-events:none}.p-i{width:140px;height:140px;object-fit:cover;animation:pa .35s linear forwards}@keyframes pa{0%{opacity:0;transform:scale(.75)}100%{opacity:1;transform:scale(1)}}</style>
<!--  -->
<div class="p">
  <img src="./img/sprites/sprite.svg#logo-black" class="p-i" />
</div>
<header class="header d-flex d-flex--space-between d-flex--align-center">
  <a class="logo mr-auto" href="/">
    Iнститут <br />
    Громадянського <br />
    Суспiльства</a
  >
  <nav class="nav d-flex d-flex--space-between">
    <a href="/about.html" class="nav_i nav-color">Про Iнститут</a>
    <a href="/news.html" class="nav_i nav-color">Новини</a>
    <a href="/contacts.html" class="nav_i nav-color">Контакти</a>
    <a href="/csi.html" class="nav_i nav-color">CSI Global</a>
  </nav>
  <div class="header_btns">
    <button class="header_btns-sup d-md-block d-none"></button>
    <a href="/search.html" class="header_btns-search"></a>
  </div>
  <button class="toggler js-toggler">
    <span class="toggler_i"></span>
    <span class="toggler_i"></span>
  </button>
</header>
<!--  -->
//= ./sidebar.html
<!--  -->
//= ./menu.html
