<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html
    <main class="container d-flex d-flex--space-between">
      //= components/banner.html
      <div class="sidebar mb-sm-0 mb-60 js-visible">
        <h2 class="title--bold title--h2 uppercase blue mb-sm-45 mb-30">
          Новини
        </h2>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a href="/single-news.html" class="sidebar-card mb-sm-0 mb-20">
          <img src="./img/sidebar-img.png" alt="" class="sidebar-card_i img" />
          <span class="sidebar-card_t lh-1-28 black"
            >Про позицію учасників публічного заходу</span
          >
          <span class="sidebar-card_d blue">03.12.2019</span>
        </a>
        <div class="delimiter"></div>
        <a
          href="/news.html"
          class="button--arrow button--arrow-red button--link"
        ></a>
      </div>

      <div
        class="content d-flex d-flex--align-start mb-sm-auto mb-60 js-visible"
      >
        <h2 class="title--bold title--h2 uppercase blue mb-sm-45 mb-30">
          Наші проекти
        </h2>
        <a href="/single-news.html" class="card card--fullwidth">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="title--h2 uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>
        <a href="/single-news.html" class="card">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>
        <a href="/single-news.html" class="card">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>
        <a href="/single-news.html" class="card">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>
        <a href="/single-news.html" class="card">
          <img src="./img/card-img.png" class="card_i img" />
          <p class="uppercase black card_t">
            Проект «Децентралізація в Україні: від моніторингу до реагування»
          </p>
        </a>

        <a href="/projects.html" class="button button--red button--link"
          >Більше проектів</a
        >
      </div>
      <h2
        class="title--bold title--h2 uppercase blue mb-sm-45 mt-sm-65 mb-30 w-100 js-visible"
      >
        Партнери Інституту
      </h2>
      <div class="w-100 position-relative js-visible">
        //= components/partners-slider.html
      </div>
    </main>
    //= includes/footer.html
    <!-- -->
    //= includes/scripts.html
  </body>
</html>
