<div
  class="banner swiper-container js-slider-banner h-100 mb-sm-140 d-flex position-relative"
>
  <div class="swiper-wrapper banner_wrapper">
    <div class="banner_slide swiper-slide">
      <p class="banner_name mb-sm-30 mb-10 title--h2 red">Ткачук А.Ф.</p>
      <p class="banner_title title--h1 title--extra uppercase blue">
        Від перспективного плану до стратегії розвитку громади
      </p>
      <p class="banner_text text">
        Через призму досвиду призму досвиду призму досвиду призму досвиду
      </p>
      <a
        href="/single-project.html"
        class="banner_button button button--red button--link"
      >
        Дізнатися більше
      </a>
      <img src="./img/banner-i.png" alt="" class="banner_img img" />
    </div>

    <div class="banner_slide swiper-slide">
      <p class="banner_name mb-sm-30 mb-10 title--h2 red">Ткачук А.Ф.</p>
      <p class="banner_title title--h1 title--extra uppercase blue">
        Від перспективного плану до
      </p>
      <p class="banner_text text">
        Через призму досвиду призму досвиду призму досвиду призму досвиду
      </p>
      <a
        href="/single-project.html"
        class="banner_button button button--red button--link"
      >
        Дізнатися більше
      </a>
      <img src="./img/banner-i.png" alt="" class="banner_img img" />
    </div>

    <div class="banner_slide swiper-slide">
      <p class="banner_name mb-sm-30 mb-10 title--h2 red">Ткачук А.Ф.</p>
      <p class="banner_title title--h1 title--extra uppercase blue">
        Від перспективного плану до стратегії розвитку громади
      </p>
      <p class="banner_text text">
        Через призму досвиду призму досвиду призму досвиду призму досвиду
      </p>
      <a
        href="/single-project.html"
        class="banner_button button button--red button--link"
      >
        Дізнатися більше
      </a>
      <img src="./img/banner-i.png" alt="" class="banner_img img" />
    </div>
  </div>
  <div class="banner_pagination swiper-pagination"></div>
  <button
    class="button--arrow prev d-md-block d-none js-banner-prev-arrow ml-auto"
  ></button>
  <button
    class="banner_next button--arrow js-banner-next-arrow ml-md-0 ml-auto"
  ></button>
</div>
