<div class="slider-partners swiper-container js-slider-history">
  <div class="swiper-wrapper">
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">01</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">02</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">03</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">04</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">05</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">06</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">07</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">08</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">09</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">10</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">11</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
    <div class="swiper-slide history-slide">
      <div class="history_wrap">
        <p class="history-count red title--extra">12</p>
        <p class="history-text title--h3 title--bold black lh-1-28">
          Міністерством регіонального розвитку, будівництва та
          житлово-комунального господарства України.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="history-pagination d-flex d-flex--align-center d-flex--space-between swiper-pagination mb-md-0 mb-30"
></div>
<button
  class="button--arrow button--arrow-history prev js-history-prev-arrow"
></button>
<button
  class="button--arrow button--arrow-history next js-history-next-arrow"
></button>
