//Базовые стили для кнопок писать тут.
button {
  outline: none !important;
}

.button {
  padding: 0;
  height: 50px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  transition: background $basic-transition, color $basic-transition;
  border: none;
}

.button--link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button--red {
  background: $red;
  color: $white;

  &:hover {
    background: $blue;
  }
}

.buton--transparent-bordered {
  border: 1px solid $red;
  color: $red;

  &:hover {
    background: $red;
    color: $white;
  }
}

.button--arrow {
  position: relative;
  background: transparent;
  border: 1px solid $border-color-grey;
  height: 50px;
  width: 90px;

  &[aria-disabled='true'] {
    pointer-events: none;
  }

  &:hover,
  &:active {
    &:before {
      filter: grayscale(0) brightness(1);
    }
  }

  &:active {
    &:before {
      transform: translate(-30%, -50%);
    }
  }

  &.prev {
    &:before {
      background: url(../img/sprites/sprite.svg#arrow-prev) no-repeat center;
      background-size: cover;
    }

    &:active {
      &:before {
        transform: translate(-70%, -50%);
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 13px;
    background: url(../img/sprites/sprite.svg#arrow) no-repeat center;
    background-size: cover;
    transition: filter $small-transition linear, transform $small-transition;
    filter: grayscale(3) brightness(2);
  }
}

.button--arrow-red {
  &:before {
    filter: none;
  }
}

.button--arrow-partners {
  position: absolute;
  width: 14px;
  height: 28px;
  background-size: cover !important;
  background-position: center !important;
  border: none;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform $basic-transition;

  @media (max-width: $max-md) {
    display: none;
  }

  &.prev {
    background: url(../img/sprites/sprite.svg#arrow-l) no-repeat;
    left: -30px;

    &:active {
      transform: translate(-10px, -50%);
    }
  }

  &.next {
    background: url(../img/sprites/sprite.svg#arrow-r) no-repeat;
    right: -30px;

    &:active {
      transform: translate(10px, -50%);
    }
  }
}

.button--arrow-history {
  @media (min-width: $min-md) {
    position: absolute;
    top: 0;
    z-index: 2;

    &.prev {
      right: 110px;
    }

    &.next {
      right: 0;
    }
  }
}
