.d-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.d-flex--column {
  flex-direction: column;
}

.d-flex-md-row {
  @media (min-width: $min-md) {
    flex-direction: row;
  }
}


.d-flex--space-between {
  justify-content: space-between;
}

.d-flex--space-center {
  justify-content: center;
}

.d-flex--align-start {
  align-items: flex-start;
}

.d-flex--align-center {
  align-items: center;
}

.d-flex--nowrap {
  flex-wrap: nowrap;
}

.d-flex--wrap {
  flex-wrap: wrap;
}

.d-flex-md-nowrap {
  @media (min-width: $min-md) {
    flex-wrap: nowrap;
  }
}

.d-flex-md-align-center {
  @media (min-width: $min-md) {
    align-items: center;
  }
}
