@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa Regular'),
    url('../fonts/Comfortaa-Regular.woff2') format('woff2'),
    url('../fonts/Comfortaa-Regular.woff') format('woff'),
    url('../fonts/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
