@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/regular.woff2') format('woff2'),
  url('../fonts/regular.woff') format('woff'),
  url('../fonts/regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/light.woff2') format('woff2'),
  url('../fonts/light.woff') format('woff'),
  url('../fonts/light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/bold.woff2') format('woff2'),
  url('../fonts/bold.woff') format('woff'),
  url('../fonts/bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/black.woff2') format('woff2'),
  url('../fonts/black.woff') format('woff'),
  url('../fonts/black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}



