.section {

}

.section--book {
  min-height: 100vh;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background: $dark-blue;
  }

  @media (min-width: $min-md){
    height: 100vh;
    position: relative;
  }
}

.section--hero {
  background: url("../img/bg.png")no-repeat center;
  background-size: cover;
  padding-top: 126px;

  @media (min-width: $min-lg) {
    background: url("../img/banner-bg.png")no-repeat center;
    background-size: 100%;
    padding-top: 192px;
    //min-height: 100vh;
    padding-bottom: 332px;
  }
}